version: '3.9'

services:
  api:
    image: bingeme/api-express:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bingeme_api
    env_file:
      - .env
    ports:
      - "4000:4000"
    restart: unless-stopped
    depends_on:
      - redis
    volumes:
      - ./:/app
      - /app/node_modules

  redis:
    image: redis:7-alpine
    container_name: bingeme_redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:


